{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins":[
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "pageobjects": "./pageobjects",
        "modules":"./modules"
      }
    }],
    "@babel/plugin-transform-runtime"
  ] 
}